<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers">{{ songTableLength }}</div>
            <div class="cardName">Songs</div>
        </div>
  
        <div class="iconBx">
            <ion-icon name="musical-notes-outline"></ion-icon>
        </div>
    </div>
  
    <div class="card">
        <div>
            <div class="numbers">{{userCount}}</div>
            <div class="cardName">Users</div>
        </div>
  
        <div class="iconBx">
          <ion-icon name="people-outline"></ion-icon>
        </div>
    </div>
  
    <div class="card">
        <div>
            <div class="numbers">{{artistCount}}</div>
            <div class="cardName">Artists</div>
        </div>
  
        <div class="iconBx">
          <ion-icon name="people-circle-outline"></ion-icon>
        </div>
    </div>
  </div>