<div class="navigation">
    <ul>
        <li >
            <a href="#">
                <span class="icon">
                    <!-- <ion-icon name="logo-apple"></ion-icon> -->
                    <ion-icon name="logo-google-playstore"></ion-icon>
                </span>
                <span class="title">TuneSync</span>
            </a>
        </li>

        <li *ngIf="!isAdmin() && !isArtist()" routerLink="/home" routerLinkActive="hovered">
            <a>
                <span class="icon">
                    <ion-icon name="home-outline"></ion-icon>
                </span>
                <span class="title">Home</span>
            </a>
        </li>
        <li *ngIf="isArtist()" routerLink="/artist/dashboard" routerLinkActive="hovered">
            <a>
                <span class="icon">
                    <ion-icon name="stats-chart-outline"></ion-icon>
                </span>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li *ngIf="isArtist()" routerLink="/add-new-song" routerLinkActive="hovered">
            <a >
                <span class="icon">
                    <ion-icon name="add-circle-outline"></ion-icon>
                </span>
                <span class="title">Add new song</span>
            </a>
        </li>
        <li *ngIf="isAdmin()" routerLink="/admin/dashboard" routerLinkActive="hovered">
            <a>
                <span class="icon">
                    <ion-icon name="stats-chart-outline"></ion-icon>
                </span>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li *ngIf="isAdmin()" routerLink="/admin/artists" routerLinkActive="hovered">
            <a>
                <span class="icon">
                    <ion-icon name="people-outline"></ion-icon>
                </span>
                <span class="title">Artists</span>
            </a>
        </li>

        <li *ngIf="!isAdmin() && !isArtist()" routerLink="/categories" routerLinkActive="hovered">
            <a href="#">
                <span class="icon">
                    <ion-icon name="list-outline"></ion-icon>
                </span>
                <span class="title">Category</span>
            </a>
        </li>

        <li *ngIf="!isAdmin() && !isArtist()" routerLink="/artists" routerLinkActive="hovered">
            <a>
                <span class="icon">
                    <ion-icon name="people-outline"></ion-icon>
                </span>
                <span class="title">Artists</span>
            </a>
        </li>

        <li *ngIf="isUser()" routerLink="/library" routerLinkActive="hovered">
            <a href="#">
                <span class="icon">
                    <ion-icon name="musical-notes-outline"></ion-icon>
                </span>
                <span class="title">Library</span>
            </a>
        </li>
        <li *ngIf="isUser()" routerLink="/liked-songs" routerLinkActive="hovered">
            <a href="#">
                <span class="icon">
                    <ion-icon name="heart-outline"></ion-icon>
                </span>
                <span class="title">Liked Songs</span>
            </a>
        </li>
        <li routerLink="/help" routerLinkActive="hovered">
            <a href="#">
                <span class="icon">
                    <ion-icon name="help-outline"></ion-icon>
                </span>
                <span class="title">Help</span>
            </a>
        </li>

        <li *ngIf="checkLogin()" routerLink="/settings" routerLinkActive="hovered">
            <a href="#">
                <span class="icon">
                    <ion-icon name="settings-outline"></ion-icon>
                </span>
                <span class="title">Settings</span>
            </a>
        </li>

        <li *ngIf="checkLogin()">
            <a (click)="onLogoutClick()">
                <span class="icon">
                    <ion-icon name="log-out-outline"></ion-icon>
                </span>
                <span class="title">Sign Out</span>
            </a>
        </li>
    </ul>
</div>