.form-item img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--blue);
    padding: 4px;
    margin: auto;
    margin-bottom: 22px;
}