<div class="cardBox">
  <div class="card">
      <div>
          <div class="numbers">{{songCnt}}</div>
          <div class="cardName">Total Songs</div>
      </div>

      <div class="iconBx">
          <ion-icon name="musical-notes-outline"></ion-icon>
      </div>
  </div>

  <div class="card">
      <div>
          <div class="numbers">{{totalLikeCnt}}</div>
          <div class="cardName">Total Likes</div>
      </div>

      <div class="iconBx">
        <ion-icon name="heart-outline"></ion-icon>
      </div>
  </div>

  <div class="card">
      <div>
          <div class="numbers">4.5</div>
          <div class="cardName">Overall Ratings</div>
      </div>

      <div class="iconBx">
        <ion-icon name="star-outline"></ion-icon>
      </div>
  </div>

  <!-- <div class="card">
      <div>
          <div class="numbers">$7,842</div>
          <div class="cardName">Earning</div>
      </div>

      <div class="iconBx">
          <ion-icon name="cash-outline"></ion-icon>
      </div>
  </div> -->
</div>