table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  }
  
  table thead td {
    font-weight: 600;
  }
  
  .recentOrders table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .recentOrders table tr:last-child {
    border-bottom: none;
  }
  
  .recentOrders table tbody tr:first-child{
    width: 140px;
  }
  
  .recentOrders table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
  }
  
  
  .recentOrders table tr td {
    padding: 10px;
  }
  
  .recentOrders table tr td:last-child {
    text-align: center;
  }
  
  .recentOrders table tr td:nth-child(2) {
    text-align: center;
  }
  
  .recentOrders table tr td:nth-child(3) {
    text-align: center;
  }
  
  .status.delivered {
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  
  .status.pending {
    padding: 2px 4px;
    background: #e9b10a;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  
  .status.return {
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  
  .status.inProgress {
    padding: 2px 4px;
    background: #1795ce;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  
  .profile-picture{
    width: 55%;
    height: 55%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .removeIcon{
    font-size: 25px;
    color: red;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .removeIcon:hover{
    font-size: 28px;
    color: white;
  }